html{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    color: white;
    text-decoration: none;
    font-size: 4vh;
}
.sidebarTitle{
    font-size: 2.5vh;
}
/*Articles*/
.articleTitle{
    font-size: 4vh;
    color: #ffffff;
}
.credits{
    margin-top: -3vh; 
    font-size: 2vh;
    color: #ffffff;
}
.text{
    font-size: 3vh;
    color: #ffffff;
}
.subtitle{
    font-size: 4vh;
    color: white;
    font-style: bold;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.date{
    color: white;
}
.articleLink{
    color: white;
}