<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/margins.css">
    <link rel="stylesheet" href="../styles/textStyles.css">
    <link rel="stylesheet" href="../styles/buttons.css">
    <title>About Me</title>
</head>

<body>
    <div class="layout">
        <header class="upbar">
            <a href="../pages/hub.html" class="title" id="title">A little blog about a teenager learning to code :D </a>
        </header>
        <aside class="sidebar">
            <div class="sidebarSection">
                <h1 class="sidebarTitle">More about me!</h1>
                <table>
                    <th>
                        <tr><a class="sidebarLink" href="aboutme.html">-About me</a><br></tr>
                        <tr><a href="hellothere.html" class="sidebarLink">-Hello there!</a><br></tr>
                        <tr><a href="/src/pages/Articles/june25.html" class="sidebarLink">-June Update</a><br></tr>
                        <tr><a href="hellothere.html" class="sidebarLink">-Hello there!</a><br></tr>
                        <tr><a href="hellothere.html" class="sidebarLink">-Hello there!</a><br></tr>
                        <tr><a href="hellothere.html" class="sidebarLink">-Hello there!</a><br></tr>
                        <tr><a href="hellothere.html" class="sidebarLink">-Hello there!</a><br></tr>
                        <tr><a href="hellothere.html" class="sidebarLink">-Hello there!</a><br></tr>
                        <tr><a href="hellothere.html" class="sidebarLink">-Hello there!</a><br></tr>
                        <tr><a href="hellothere.html" class="sidebarLink">-Hello there!</a><br></tr>
                    </th>
                </table>
            </div>
            <div class="sidebarSection">
                <h1 class="sidebarTitle">
                    Other stuff :D
                </h1>
                <table>
                    <th>
                        <tr>
                            <button class="hubButton" onclick="gamesHub()">Built-in games</button>
                        </tr>
                    </th>
                    <th>
                        <tr>
                            <button class="hubButton" onclick="projectsHub()">Projects</button>
                        </tr>
                    </th>
                    <th>
                        <tr>
                            <button class="hubButton" onclick="inCGamesHub()">InCGames</button>
                        </tr>
                    </th>
                </table>
            </div>
        </aside>
        <main class="content">
            <div class="articleBody">
                <p class="articleTitle">
                    Hello there!
                </p>
                <p class="credits">by Nahum :D</p>
            </div>
        </main>
    </div>
</body>
<script>
    function gamesHub() {
        window.location.href = "../pages/Built-in Games/gamesHub.html"
    }
    function projectsHub() {
        window.location.href = "../pages/Projects/projectsHub.html"
    }
    function inCGamesHub() {
        window.location.href = "../pages/inCGames/inCGamesHub.html"
    }
</script>

</html>