<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/margins.css">
    <link rel="stylesheet" href="../styles/textStyles.css">
    <title>About Me</title>
</head>
<body>
    <div class="layout">
        <header class="upbar">
            <a href="../pages/hub.html" class="title" id="title">A little blog about a teenager learning to code :D    </a>
        </header>
        <aside class="sidebar">
            <h1 class="sidebarTitle">Layout</h1>
            <table>
                <th>
                    <tr><a class="sidebarLink" href="../pages/aboutme.html">About me</a></tr>
                </th>
            </table>
        </aside>
        <main class="content">
            <h1 class="articleTitle">Hello There!</h1>
        </main>
    </div>
</body>
</html>